streamlit
PyMuPDF
requests
mistralai
python-dotenv
chromadb
langchain
langchain_community
langchain-text-splitters
sentence-transformers
google-api-python-client
google-auth
google-auth-httplib2 
google-auth-oauthlib


